/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs/*.log
/app/Services/Mail/EmailManager.php
.vscode
.idea
.svn
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
