h1,h2,h3,h4,h5,p {
    margin: 0;
    padding: 0;
}
html {
    overflow-x: hidden;
}
body {
    color: #fff;
    overflow-x: hidden;
    background: #F6F6F6;
}
.datetimepicker-days {
    color: #333;
}
.wr-bg-01 {
    background: #515884;
    margin: 0 5%;
    position: relative;
    padding-top: 40px;
}
.form-control {
    background-color: #515884 !important;
    color: #fff;
    font-size: 11pt;
    border: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    box-shadow: none;
}
.has-success .form-control {
    border: 0 !important;
    webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
}
/* 三角形 */
.caret {
    border-top: 10px dashed #fff;
    border-top: 10px solid\9 #fff;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
.caret-c3c {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 10px dashed #c3c3c3;
    border-top: 10px solid\9 #c3c3c3;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
input:focus {
    outline:none !important;
    border-color: #ccc !important;
    box-shadow: 0 0 0px rgba(255, 255, 255, 0) !important;
}
.has-feedback .form-control {
    padding-right: 0!important;
    padding-left: 0!important;
}
.col-xs-2, .col-xs-3, .col-xs-4, .col-xs-6, .col-xs-7, .col-xs-8{
    padding: 0;
    margin: 0;
}
.wr-active {
    color: #fff !important;
}
.wr-active:after {
    display: block;
    content: "";
    border-radius: 60px;
    height: 5px;
    background: #E9868B;
    margin-top: 2px;
    color: #E9868B;
}
.spot:before {
    display: block;
    position: absolute;
    content: "";
    height: 6px;
    width: 6px;
    background: #E9868B;
    border-radius: 10px;
    top: 12px;
    left: -11px;
}
.single {
    margin-left: 5%;
    width: 90%;
    background: #fff;
    position: absolute;
    z-index: 15;
    border-radius: 15px;
    -moz-box-shadow:0px 3px 10px rgba(0,0,0,.2);
    -webkit-box-shadow:0px 3px 10px rgba(0,0,0,.2);
    box-shadow:0px 3px 10px rgba(0,0,0,.2);
}
h2 {
    font-size: 33pt;
    padding: 0;
    margin: 0;
    color: #353537;
    vertical-align: middle;
    position: relative;
    margin-left: -30px;
}

/* 切换 start */
.wr-table {
    margin: 0 5%;
    position: relative;
    z-index: 16;
}
.wr-table-title{
    font-size: 11pt;
    width: 110px;
    height: 60px;
    line-height: 40px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    border-radius: 15px 15px 0 0;
}
.wr-table-title-div {
    display: inline-block;
    color: #515884;
    padding: 10px 15px;
    border-radius:10px 10px 0 0;
    font-size: 12pt;
}
.wr-active-01 {
    background: #fff;
    color: #515884;
}
.wr-active-02 {
    color: #E9868B;
}
.wr-detailed {
    font-size: 11pt;
    margin-top: 3px;
    float: right;
    color: #9B9B9D;
}
.wr-meta {
    font-size: 50%;
    position: absolute;
    bottom: 15%;
}
.wr-line-02 {
    height: 20px;
    width: 1px;
    background: #F1F1F1;
    display: block;
    margin:0 5px;
}
.wr-line-03 {
    width: 100%;
    border-right: 1px solid #F1F1F1;
}
.wr-date-month {
    font-size: 11pt;
}
/* 切换 end */
.wr-flex {
    display: flex;
    color: #222222;
    align-items:center;
    margin-left: 8%;
    margin-right: 5%;
}
.wr-flex-center{
    display: flex;
    align-items:center;
}
.wr-item-01 {
    position: relative;
    font-size: 13pt;
}
.wr-item-02 {
    width: 100%;
    padding: 0 2%;
}
.wr-item-03 {
    text-align: right;
    font-size: 13pt;
}
.wr-hr{
    text-align: left;
    width: 100%;
    height:1px;
    border:none;
    border-top:1px dashed #C1C1C1;
    margin: 0 10px;
}
.wr-square {
    height: 13px;
    width: 5px;
    background: #E9868B;
    display: block;
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}
.wr-h3 {
    float: left;
    color: #353537;
    font-size: 13pt;
}
.wr-content-header {
    background: #fff;
    vertical-align: middle;
}
.wr-content-left {
    font-size: 10pt;
    padding-left: 10px;
    text-align: left;
}
.wr-content-right {
    font-weight: bold;
    font-size: 10pt;
    text-align: right;
}
.wr-pie-h3 {
    font-size: 11pt;
    font-weight: bold;
}
.wr-pie-span {
    color: #B2B2B3;
    font-size: 11pt;
}

/* 公共部分 */
.wr-border-radius {
    border-radius: 8px;
}
.wr-stat-header {
    height: 110px;
    background: #F7F8F9;
    position: relative;
}
.wr-shadow{
    -moz-box-shadow: 0px 4px 8px rgba(0,0,0,.05);
    -webkit-box-shadow: 0px 4px 8px rgba(0,0,0,.05);
    box-shadow: 0px 4px 8px rgba(0,0,0,.05)
}

/* 内容列表 */
.wr-content{
    padding: 0 6% 30px;
}
.wr-content-bg-fff {
    padding: 0 6% 30px;
    color: #353537;
    background: #fff;
}
.wr-content-bg-fff-h4 {
    font-size: 13pt;
    font-weight: bold;
    color: #353537;
    margin-bottom: 2px;
}
.wr-content-bg-fff-span {
    font-size: 11pt;
    color: #515884;
}
.wr-content-title-515 {
    font-weight: bold;
    font-size: 11pt;
    color: #515884;
    margin-left: 2px;
}
.wr-content-title-fff {
    font-size: 12pt;
    color: #fff;
    margin-left: 2px;
}
/* 字体 */
.wr-font-14-fff {
    font-size: 14pt;
    color: #fff !important;
}
.wr-font-11-d3d {
    font-size: 11pt;
    color: #d3d3d3 !important;
}
.wr-font-11-afa {
    font-size: 11pt;
    color: #AFAFAF !important;
}
.wr-font-9-515 {
    font-size: 9pt;
    color: #515884 !important;
}
.wr-font-10-515 {
    font-size: 10pt;
    color: #515884 !important;
}
.wr-font-13-515 {
    font-size: 13pt;
    color: #515884 !important;
}
.wr-font-15-515 {
    font-size: 15pt;
    color: #515884 !important;
}
.wr-font-17-515 {
    font-size: 17pt;
    color: #515884 !important;
}
.wr-font-18-515 {
    font-size: 18pt;
    color: #515884 !important;
}
.wr-font-19-515 {
    font-size: 19pt;
    color: #515884 !important;
}
.wr-font-20-515 {
    font-size: 20pt;
    color: #515884 !important;
}
.wr-font-22-515 {
    font-size: 22pt;
    color: #515884 !important;
}
.wr-font-24-515 {
    font-size: 24pt;
    color: #515884 !important;
    font-weight: bold;
}
.wr-font-24-515 {
    font-size: 24pt;
    color: #515884 !important;
    font-weight: bold;
}
.wr-font-16-454 {
    font-size: 16pt;
    color: #454F63 !important;
    font-weight: bold;
}


/* 按钮 */
.wr-button-01 {
    margin: 0 auto;
    font-size: 12pt;
    height: 55px;
    width: 152px;
    border-radius: 100px;
    line-height: 55px;
    background: #515884;
}


/* 变灰 */
.wr-color-c3c{
    color: #c3c3c3 !important;
}
.wr-color-b8b{
    color: #b8b8b8 !important;
}
.wr-bg-color-afa {
    background: #AFAFAF !important;
}
.wr-bg-color-fff {
    background: #fff !important;
}
#date-picker {
    float: left;
}
#date-picker-stat {
    float: left;
}
#date-picker-income {
    float: left;
}
#date-picker-stat-company {
    float: left;
}
#date-picker-company {
    float: left;
}
#date-picker-analysis-company {
    float: left;
}
.agreement {
    margin-top: 20px;
    margin-bottom: 50px;
}
.agreement table{
   width: 100%;
   text-align: center;
}
.agreement table tr{
    text-align: center;
}
.agreement table tr td{
    text-align: center;
}
.agreement table tr td p{
    text-align: center;
}
.agreement h3 {
   color: #a0a0a0;
}
.agreement h4 {
    color: #a0a0a0;
    margin-top: 30px;
}
.agreement p {
    margin-top: 15px;
    text-align: justify;
    color: #A9A9A9;
}