.row {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
ul,li {
    list-style-type:none;
}
/*********/
.wr-top-5 {
    margin-top: 5px;
}
.wr-top-10 {
    margin-top: 10px;
}
.wr-top-50 {
    margin-top: 50px;
}
.wr-top-40 {
    margin-top: 40px;
}
.wr-top-25 {
    margin-top: 25px;
}
.wr-top-30 {
    margin-top: 30px;
}
.wr-top-32 {
    margin-top: 32px;
}
.wr-top-35 {
    margin-top: 35px;
}
.wr-top-20 {
    margin-top: 20px;
}
.wr-top-15 {
    margin-top: 15px;
}
.wr-top-60 {
    margin-top: 60px;
}
.wr-top-65 {
    margin-top: 65px;
}
.wr-top-70 {
    margin-top: 70px;
}
.wr-top-80 {
    margin-top: 80px;
}
.wr-top-100 {
    margin-top: 100px;
}
.wr-top-110 {
    margin-top: 110px;
}
.wr-top-115 {
    margin-top: 115px;
}
.wr-top-120 {
    margin-top: 120px;
}
.wr-top-125 {
    margin-top: 125px;
}
.wr-top-130 {
    margin-top: 130px;
}
.wr-top-135 {
    margin-top: 135px;
}
.wr-top-140 {
    margin-top: 140px;
}
.wr-top-145 {
    margin-top: 145px;
}
.wr-top-150 {
    margin-top: 150px;
}
.wr-top-155 {
    margin-top: 155px;
}
.wr-top-160 {
    margin-top: 160px;
}
.wr-top-170 {
    margin-top: 170px;
}
.wr-top-180 {
    margin-top: 180px;
}
.wr-top-190 {
    margin-top: 190px;
}
.wr-top-200 {
    margin-top: 200px;
}
.wr-top-210 {
    margin-top: 210px;
}
.wr-top-35b {
    margin-top: 35%;
}
.wr-top-30b {
    margin-top: 30%;
}
.wr-top-25b {
    margin-top: 25%;
}
.wr-top-5b {
    margin-top: 5%;
}
.wr-top-15b {
    margin-top: 15%;
}
.wr-top-10b {
    margin-top: 10%;
}
.wr-bottom-5 {
    margin-bottom: 5px;
}
.wr-bottom-10 {
    margin-bottom: 10px;
}
.wr-bottom-70{
    margin-bottom: 70px;
}
.wr-bottom-60 {
    margin-bottom: 60px;
}
.wr-bottom-50{
    margin-bottom: 50px;
}
.wr-bottom-30{
    margin-bottom: 30px;
}
.wr-bottom-20 {
    margin-bottom: 20px;
}
.wr-bottom-15{
    margin-bottom: 15px;
}
.wr-bottom-80{
    margin-bottom: 80px;
}
.wr-bottom-100{
    margin-bottom: 100px;
}
.wr-left-8b {
    margin-left: 8%;
}
.wr-left-10b {
    margin-left: 10%;
}
.wr-margin-05 {
    margin: 0 5%;
}
.wr-padding-top-15{
    padding-top: 15px;
}
.wr-padding-top-20{
    padding-top: 20px;
}
.wr-padding-top-50{
    padding-top: 50px;
}
.wr-padding-bottom-20 {
    padding-bottom: 20px;
}
.wr-padding-bottom-30 {
    padding-bottom: 30px;
}
.wr-padding-bottom-40 {
    padding-bottom: 40px;
}
.wr-padding-bottom-50{
    padding-bottom: 50px;
}
.wr-padding-05 {
    padding: 0 5%;
}
/* 字体 px*/
.wr-font-9px {
    font-size: 9px;
}
.wr-font-10px {
    font-size: 10px;
}
.wr-font-14px {
    font-size: 14px;
}
.wr-font-11px {
    font-size: 11px;
}
.wr-font-13px {
    font-size: 13px;
}
.wr-font-15px {
    font-size: 15px;
}
.wr-font-25px {
    font-size: 25px;
}
.wr-font-26px {
    font-size: 26px;
}
/* 字体 pt*/
.wr-font-9pt {
    font-size: 9pt;
}
.wr-font-10pt {
    font-size: 10pt;
}
.wr-font-14pt {
    font-size: 14pt;
}
.wr-font-11pt {
    font-size: 11pt;
}
.wr-font-12pt {
    font-size: 12pt;
}
.wr-font-13pt {
    font-size: 13pt;
}
.wr-font-15pt {
    font-size: 15pt;
}
.wr-font-16pt {
    font-size: 16pt;
}
.wr-font-20pt {
    font-size: 20pt;
}
.wr-font-25pt {
    font-size: 25pt;
}
.wr-font-26pt {
    font-size: 26pt;
}
.wr-font-30pt {
    font-size: 30pt;
}
/* 颜色 */
.wr-color-FFF {
    color: #FFFFFF;
}
.wr-color-333 {
    color: #333333;
}
.wr-color-666 {
    color: #666666;
}
.wr-color-999 {
    color: #999999;
}
.wr-color-a9a {
    color: #A9A9A9;
}
.wr-color-1490F7 {
    color: #1490F7;
}
.wr-color-E53E27 {
    color: #E53E27;
}
.wr-color-515884 {
    color: #515884;
}
/*加粗*/
.wr-font-bold {
    font-weight: bold;
}
.wr-font-normal {
    font-weight: normal;
}
/* 圆角 */
.wr-border-radius-15 {
    border-radius: 15px;
}

/*取消内边距*/
.wr-padding-0{
    padding: 0 !important;
}

/* 一些好玩的 */
.wr-line {
    width: 100%;
    height: 1px;
    background: #F1F1F1;
}
.wr-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.wr-center {
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.wr-center-left {
    position:absolute;
    left:0%;
    top:50%;
    transform: translate(0%,-50%);
}
.wr-center-right {
    position:absolute;
    right:0%;
    top:50%;
    transform: translate(-50%,-50%);
}
.wr-clear-fix::after {
    content: ".";
    clear: both;
    display: block;
    overflow: hidden;
    font-size: 0;
    height: 0;
}
.wr-clear-fix{
    zoom: 1;
}
.wr-indent{
    text-indent: 2em;
    text-align:justify;
}
.wr-item-center {
    display: flex;
    align-items:center;
}
.wr-nowrap{
    white-space:nowrap;
}
/*下对齐问题*/
.wr-span-font-justify{
    display: inline-block;
    transform: translate(0,-4%);
}
/*超出...*/
.wr-clamp-1{
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-word;
}

/*阴影*/
.wr-shadow{
    -moz-box-shadow:0px 2px 10px rgba(0,0,0,.2);
    -webkit-box-shadow:0px 2px 10px rgba(0,0,0,.2);
    box-shadow:0px 2px 10px rgba(0,0,0,.2);
}

/*渐变*/
.wr-gradual-bg {
    background: -webkit-radial-gradient(#6C75A9, #445083); /* Safari 5.1 - 6.0 */
    background: -o-radial-gradient(#6C75A9, #445083); /* Opera 11.6 - 12.0 */
    background: -moz-radial-gradient(#6C75A9, #445083); /* Firefox 3.6 - 15 */
    background: radial-gradient(#6C75A9, #445083); /* 标准的语法（必须放在最后） */

    background: -webkit-linear-gradient(left, #1490F7, #5AC7FC); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(left, #1490F7, #5AC7FC); /* Opera 11.6 - 12.0 */
    background: -moz-linear-gradient(left, #1490F7, #5AC7FC); /* Firefox 3.6 - 15 */
    background: linear-gradient(left, #1490F7, #5AC7FC); /* 标准的语法（必须放在最后） */
}

.wr-bubble {
    z-index: 1;
    top: -93px;
    right: -33px;
    height: 45px;
    width: 78px;
    background: #F9808A;
    position: absolute;
    border-radius: 5px;
    font-size: 9pt;
}
.wr-caret {
    margin-top: -15px;
    margin-left: -12px;
    border-top: 8px dashed;
    border-right: 2px solid transparent;
    border-left: 8px solid transparent;
    color: #F9808A;
}